@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RedisSessionProvider Instance: @ViewBag.InstanceId</h1>
    <p class="lead">Current Session Value: @Session["StoredValue"]</p>
</div>

<div class="row">
    <h2>Update Session</h2>
    @using (Html.BeginForm("UpdateSession", "Home", FormMethod.Post))
    {
        <input type="text" name="sessionData" /><input type="submit" value="Update"/>
    }
</div>